@import "../utils/mixins";
@import "../utils/functions";

.about-me {
  @include create-flex($axis: column, $gap: calc(get-spacing("default") / 2));

  &__image-container {
    background-color: get-color("text");
    background-image: url("./images/Profile-pic-2.jpg");
    background-size: 100%;
  }

  &__image {
    aspect-ratio: 960 / 1280;
    width: 100%;

    transition: 0.5s;

    &:hover {
      opacity: 0;
    }
  }

  // media querries for tablet

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template: 1fr 1fr/ 2fr 3fr;
    grid-template-areas: "img subheading" "img details";
    gap: calc(get-spacing("default") * 3);

    &__image-container {
      grid-area: img;
    }

    &__subheading {
      grid-area: subheading;
      align-self: self-end;
    }

    &__details {
      grid-area: details;
      align-self: self-start;
    }
  }
}
