@use "../utils/variables" as *;

@import "../utils/mixins";
@import "../utils/functions";

.projects {
  @include create-flex($axis: column, $gap: get-spacing("default") * 2);

  &__card {
    @include create-flex($axis: column, $gap: calc(get-spacing("margin") * 2));

    &:hover {
      box-shadow: 0 0 1rem 0 get-color("accent-2");
    }
  }

  &__image {
    box-shadow: 0 -1rem 0 1rem get-color("accent-2");
  }

  &__type {
    font-family: $font-desc;
  }

  &__skill {
    text-transform: capitalize;
    color: get-color("heading");
  }

  &__description {
    margin: get-spacing("margin") 0;
  }

  &__nav {
    @include create-flex($gap: calc(get-spacing("default") / 2));
  }
}
