@import "../utils/functions";
@import "../utils/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: get-font("desc");
  font-weight: 500;
  font-size: 1.5rem;

  padding-right: calc(get-spacing("default") * 2);
  padding-left: calc(get-spacing("default") * 2);
  width: 100vw;

  background-color: get-color("background");
  color: get-color("text");

  @include create-flex($axis: column, $gap: calc(get-spacing("default") * 3));

  // media querries for tablet

  @media screen and (min-width: 768px) {
    padding-right: calc(get-spacing("default") * 4);
    padding-left: calc(get-spacing("default") * 4);
  }
}
